table {
    width: 100%;
    tr.mat-row, tr.mat-header-row {
        height: 20px !important;
        td {
            font-size: 12px;
            a {
                color: #000;
            }
        }
    }

    tr:not(.counts) {
        // background-color: rgba($color: #000000, $alpha: .03)
        background-color: #ededed;
    }

    > tfoot > tr {
        background-color: #fff;
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type { padding-left: 5px; }
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type { padding-right: 5px };

    // tfoot > tr > td.mat-footer-cell.cdk-footer-cell.cdk-column-Opp.mat-column-Opp.ng-star-inserted
}

// .mat-cell {
//     // text-align: right;
//     border-right: 1px solid  rgba(0,0,0,.05);;
    
// }

.mat-column-Score, 
.mat-column-Tds,
.mat-column-PassYds,
.mat-column-RushYds,
.mat-column-RecYds,
.mat-column-Rec {
    text-align: right;
    // width: 35px;
    padding-left: 5px;
}

.mat-column-Name {
    text-align: left;
}

.mat-cell {
    // text-align: right;
    border-right: 1px solid  rgba(0,0,0,.05);;
    padding: 3px;
}

.hidden-row {
    display: none;
}

.owner-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-link {
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.school-name {
    margin-right: 5px;
    &-long {
        margin-left: 20px;
        margin-right: 5px;
    }
}

.opp, .vs {
    margin-right: 5px;
}

.game-desc td span {
    font-size: 12px;
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.not-complete {
    text-decoration: none !important;
    // font-weight: 500;
}

.is-complete {
    text-decoration: underline;
}

.search {
    font-size: 14px;
    color: rgba(0,0,0,.33);
    margin-top: 10px;
  }